# Square Pattern

In [2]:
n=int(input())
for i in range(n):
    for j in range(n):
        print(n,end='')
    print()

4
4444
4444
4444
4444

In [3]:
n=int(input())
row=1
while n>=row:
    col=1
    while n>=col:
        print(n,end='')
        col=col+1
    print()
    row=row+1

4
4444
4444
4444
4444

# Triangular Star Pattern

In [5]:
n=int(input())
for i in range(1,n+1):
    for j in range(i):
        print('*',end='')
    print()

4
*
**
***
****

# Triangle Number Pattern

In [6]:
n=int(input())
for i in range(1,n+1):
    for j in range(i):
        print(i,end='')
    print()

4
1
22
333
4444

# Reverse Number Pattern

In [12]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i-j+1,end='')
    print()

4
1
21
321
4321

# Character Pattern

In [19]:
n=int(input())
for i in range(n):
    con=ord('A')+i
    for j in range(i+1):
        print(chr(con),end='')
        con=con+1
    print()

4
A
BC
CDE
DEFG

# Interesting Alphabets

In [22]:
n=int(input())
x=n
for i in range(n):
    con=ord('A')+x-1
    for j in range(i+1):
        print(chr(con),end='')
        con=con+1
    x=x-1
    print()

5
E
DE
CDE
BCDE
ABCDE

# Assignment

# Number Pattern 1
1
11
111
1111

In [3]:
n=int(input())
for i in range(n):
    for j in range(i+1):
        print(1,end='')
    print()

4
1
11
111
1111

# Number Pattern 2

In [2]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        if i==1:
            print(1,end="")
        elif j==1 or j==i:
            print(i-1,end='')
        else:
            print(0,end='')
    print()

5
1
11
202
3003
40004

# Number Pattern 3

In [3]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        if j==1 or j==i:
            print(1,end='')
        else:
            print(2,end='')
    print()

5
1
11
121
1221
12221

# Number Pattern 4

In [4]:
n=int(input())
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(j,end="")
    print()

5
12345
1234
123
12
1

# Number Pattern 5

In [9]:
n=int(input())
ch=65
for i in range(n):
    for j in range(i+1):
        print(chr(ch+i),end="")
    print()

3
A
BB
CCC