In [1]:
# Inverted Number Pattern

In [3]:
n=int(input())
for i in range(n,0,-1):
    for j in range(i):
        print(i,end="")
    print()

4
4444
333
22
1

In [4]:
# Mirror Number Pattern

In [6]:
n=int(input())
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(' ',end='')
    for j in range(1,n-i+2):
        print(j,end='')
    print()

4
    1
   12
  123
 1234

In [7]:
#  Star Pattern

In [10]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,n-i+1):
        print(' ',end='')
    for j in range(1,i+1):
        print('*',end='')
    for j in range(1,i):
        print('*',end="")
    print()

4
   *
  ***
 *****
*******

In [ ]:
 # Triangle of Numbers

In [23]:
n=int(input())
for  i in range(1,n+1):
    for j in range(1,n-i+1):
        print(' ',end='')
    for j in range(0,i):
        print(i+j,end='')
    for j in range(i,1,-1):
        print(i+j-2,end='')
    print()

4
   1
  232
 34543
4567654

In [24]:
print(5//2)

2

In [45]:
n=int(input())
x=n
for i in range(1,n+1):
    for j in range(1,(x//2)-i+2):
        print('-',end='')
    for j in range(1,i+1):
        print('*',end="")
    print()

5
--*
-**
***
****
*****

In [48]:
n=int(input())
for i in range(n):
    print(' '*())

4
   *
  * *
 * * *
* * * *
 * * *
  * *
   *

*
**
***
****

In [3]:

h = eval(input("Enter diamond's height: "))
for x in range(h):
    print(" " * (h - x+2), "*" * (2*x + 1))
for x in range(h - 2, -1, -1):
    print(" " * (h - x+2), "*" * (2*x + 1))

Enter diamond's height: 4
       *
      ***
     *****
    *******
     *****
      ***
       *

In [10]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,n+1):
        if j<=i:
            print(j,end="")
        else:
            print(' ',end='')
   
    for j in range(n,0,-1):
        if j>i:
            print(' ',end='')
        else:
            print(j,end='')
    print()

5
1        1
12      21
123    321
1234  4321
1234554321

In [17]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,n+1):
        if j==i:
            print('*',end='')
        else:
            print('0',end='')
    for j in range(n+1,0,-1):
        if j>n or j==i:
            print('*',end='')
        else:
            print('0',end='')
    print()

4
*000*000*
0*00*00*0
00*0*0*00
000***000

In [25]:
n=int(input())
for i in range(1,n+1):
    for j in range(n,0,-1):
        if j<=i:
            print(j,end='')
        else:
            print(' ',end='')
    for j in range(1,i):
        print(j+1,end='')
    print()

4
   1
  212
 32123
4321234

5
***
-**
--*
---

In [28]:
7//2 +1

4

In [36]:
n = int(input())
n1 = (n+1)//2
n2 = n-n1

for i in range(1,n1+1):
    for j in range(1,i):
        print(' ',end='')
    for k in range(1,i+1):
        print('* ',end='')
    print()    
for i in range(n2,0,-1):
    for j in range(1,i):
        print(' ',end='')
    for k in range(1,i+1):
        print('* ',end='')
    print()

7
*
 * *
  * * *
   * * * *
  * * *
 * *
*